{% extends 'base.html.twig' %}


{% block body %}

	{{ include('posts/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('homepage') }}">back to list</a>

	<div style="transform: translateY(-60px)">
			{{ include('posts/_delete_form.html.twig') }}
	</div>
{% endblock %}
