{% extends 'base.html.twig' %}

{% block title %}Edit {{post.title}}
{% endblock %}
{% block body %}

	{{ include('posts/_form.html.twig', {'button_label': 'Update'}) }}

	<div id="delete-btn-import">
			{{ include('posts/_delete_form.html.twig') }}
	</div>
{% endblock %}
