{% extends 'base.html.twig' %}

{% block title %}
  New password
{% endblock %}

{% block body %}
  <div class="form-container">
    <img class="bg-site-form" src="{{ asset('images/bg-site-snow.jpg') }}" alt="background snowboard trick" />

    <form class="forgot-form" method="post">
      <h2>New password</h2>

      {{ form_start(form) }}

      {{ form_row(form.plainPassword) }}

      <button style="width: 150px" type="submit">Apply change</button>

      {{ form_end(form) }}
    </form>
  </div>
{% endblock %}
