<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>
      Dear {{ user }},

      Thank you for signing up on snowtricks. To activate your account, please click on the link below:

      <a href="https://snowtricks.devcarl.fr/verify/{{ token }}">Verify my account</a>
    </p>
  </body>
</html>
