<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <p>
        Cher {{ user }},

        Merci de vous être inscrit sur snowtricks. Pour activer votre compte, veuillez cliquer sur le lien ci-dessous :

        <a href="http://localhost:8000/verify/{{token}}">Vérifier mon compte</a>
    </p>
</body>
</html>
