<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>
      Dear {{ user }},

      You have lost your password, here is the link to change it.

      <a href="https://snowtricks.devcarl.fr/reset-password/{{ token }}">Change password</a>
    </p>
  </body>
</html>
